.idea/
*.iml
*.iws
*.ipr
out/

instance/
.webassets-cache
.env
.flaskenv

venv/
env/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

__pycache__/
*.py[cod]
*$py.class
*.so

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.noscript/
nosetests.xml
coverage.xml
*.cover

.DS_Store
Thumbs.db