body {
    background-color: var(--background-color);

    margin: 0;
    padding: 0;
}

header {
    background-color: var(--header-color);
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header h1 {
    margin-top: 0;
}

#title {
    color: var(--title-text-color);
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

    font-size: 200%;

    text-align: center;
    justify-content: center;
}

footer {
    background-color: var(--footer-color);
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#colorModeButton {
    background-color: var(--sections-inputs-backgorund-color);
    color: var(--sections-text-color);
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

    border-style: solid;
}