body {
    background-color: #909692;
}

header {
    background-color: #E4EBE6;
    height: 10vh;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    color: #101411;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

    text-align: center;
}