body {
    background-color: #909692;
}

#title {
    color: #101411;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

    text-align: center;
}

#repositoryFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#repositoryForm {
    background-color: #B6BFB8;
    color: #232925;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

    width: 100%;
    max-width: 400px;
}