#repositoryFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#repositoryForm {
    background-color: #B6BFB8;
    color: #232925;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    text-align: center;

    padding: 1%;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: fit-content;
}

#repositoryForm input {
    background-color: #e4ebe6;

    border-style: solid;
}

.repositoryFormElement {
    margin: 3%;
}