<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} RepoRetriever {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icons/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

{% block scripts %}
{% endblock %}
</body>
</html>